@use '../utils/variables' as vars;
header {
    position: relative;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;

        .logo {
            text-transform: uppercase;
            color: vars.$secondary-color;
            font: {
                size: 1.563rem;
                weight: bold;
            }
            span {
                color: vars.$main-color;
            }
        }

        .navbar {
            display: flex;
            column-gap: 16px;

            li {
                @extend .grow-shadow;
                line-height: 46px;
                color: vars.$secondary-color;

                a {
                    text-transform: uppercase;
                    padding-left: 5px;
                    letter-spacing: 1px;
                    color: inherit;
                    text-decoration: none;
                }
            }

            @media (max-width: 1000px) {
                column-gap: 0;

            }
        }
    }

    @media (max-width: vars.$medium-devices) {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        .container {
            .logo{
                font-size: 2rem;
            }
            
            .navbar {
                display: none;
            }

            .hamburger {
                display: flex;
            }
        }
    }
}




.active { // active section
    color: vars.$main-color;
    font-weight: bold;
}


// header hover effect
.grow-shadow {
    cursor: vars.$btn-cursor;
    padding: 3px 15px; // i may change it
    border-radius: 10px;
    transition: vars.$main-transition;
    
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transform: scale(1.1);
    }

    
}
