@use '../utils/variables' as vars;

.btn {
    cursor: vars.$btn-cursor;
    padding: 20px;
    border-radius: 5px;
    letter-spacing: 1.5px;
    position: relative;
    
    span{
        transition: all .5s ease-in-out;
    }

    &::before {
        content: attr(data-txt);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        padding: inherit;
        transition: all .5s ease-in-out;
    }

    &:hover {
        &::before {
            transform: translateX(0);
        }

        span {
            opacity: 0;
        }
    }
}

.main-btn {
    background-color: vars.$secondary-color;
    color: vars.$white-color;
    font-size: 1.125rem;
    border: none;

}

.sec-btn {
    background-color: vars.$white-color;
    color: vars.$secondary-color;
    font-size: 1.125rem;
    font-weight: bold;
    border: 2px solid  vars.$secondary-color;
}