@use '../utils/variables' as vars;

// .span {
//     @extend .h-font-style;
//     color: vars.$main-color;
// }

.sec-header {
    font-size: 4rem;
    line-height: 2.5rem;
    font-weight: 800;
    text-align: center;
    margin: 0 0 70px;
    color: vars.$secondary-color;

    @media (max-width: vars.$medium-devices) {
        font-size: 3rem;
        margin: 0 0 35px;
    }
}

.p {
    font: {
        size: 1.25rem;
        weight: normal;
    }
    line-height: 2rem;
    color: #022e3e; // change

    @media (max-width: vars.$medium-devices) {
        font-size: 1rem;
    }
}

.icon {
    transition:all .3s ease-in-out;
    margin-right: 20px;
    font-size: 2rem;
    color: vars.$main-color;
    opacity: .8;

    &:hover {
        opacity: 1;
    }
}