@use '../utils/variables' as vars;
@use '../components/global_com' as *;
.about {
    padding: vars.$section-padding;
    
    .container {
        .info {
            margin-bottom: 100px;
            text-align: center;
        }

        .skills {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            row-gap: 30px;
            column-gap: 20px;
            
            li {
                color: vars.$secondary-color;
                display: flex;
                align-items: center;
                padding: 10px 16px;
                box-shadow: 0px 1px 10px rgb(0 0 0 / 37%);
                border-radius: 10px;
                letter-spacing: 1.5px;
                
                .icon {
                    @extend .icon
                }
            }
        }
    }
}