@use '../utils/variables' as vars;
@use '../base/typography' as *;

.landing {
    padding: vars.$section-padding;
    min-height: calc(100vh - 70px);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .small-breif {
            h1 {
                color: vars.$secondary-color;
                margin: 0;

                span {
                    @extend .h-font-style;
                    color: vars.$main-color;
                }
            }

            p {
                color: vars.$secondary-color;
                margin: 0;
                font-size: 2rem;
            }

            .Typewriter {
                color: vars.$secondary-color;
                text-align: right;
                margin-bottom: 80px;
                font-size: 2rem;

                .Typewriter__wrapper {
                    span:last-child {
                        @extend .h-font-style;
                        color: vars.$main-color;
                    }
                }
            }

            & > div .btn:first-child {
                margin-right: 26px;
            }
        }

        .my-photo {
            padding: 5px;

            .img {
                width:20rem;
                height: 20rem;
                background: {
                    image: url('../../images/vector.jpg');
                    repeat: no-repeat;
                    position: center;
                    size: cover;
                } 
                
                animation: bounce 3s infinite ease-in-out;
            }
        }
    }

    @media (max-width: vars.$medium-devices) { 
        .container {
            align-items: center;
            flex-direction: column-reverse;

            .small-breif {
                > div {
                    text-align: center;
                }

                p {
                    font-size: 1.3rem;
                    margin-top: 1.5em;
                }

                .Typewriter {
                    font-size: 1.3rem;
                    margin-bottom: 2em;
                }
            }

            .my-photo .img {
                width: 14em;
                height: 14em;
            }
        }
    }

    a {
        text-decoration: none;
        overflow: hidden;
        display: inline-block;
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}