// color-variables 
$main-color: #EC1C23;
$secondary-color: #08526D;
$white-color: #fff;
$section-background: #f0f5f7;
$secondary-section-bkg-color: #f6f6f6;


$btn-cursor: pointer;
$main-transition: all .3s ease-in-out;
$section-padding: 80px 0;

//font 
$font: 'Dancing Script', cursive;

//break points
$small-devices: 576px;
$medium-devices: 768px;
$large-devices: 992px;
$x-large-devices: 1200px;
$xx-large-devices: 1400px;